@import '../../../scss/00_imports';
:host-context(.c-svg-object) {
  position: relative;
  display: flex;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

.grid {
  position: relative;
  height: 100%;
  width: auto;
}
